@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat Thin'), local('Akrobat-Thin'),
    url('../fonts/Akrobat/Akrobatthin.woff2') format('woff2'),
    url('../fonts/Akrobat/Akrobatthin.woff') format('woff'),
    url('../fonts/Akrobat/Akrobatthin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat ExtraLight'), local('Akrobat-ExtraLight'),
    url('../fonts/Akrobat/Akrobatextralight.woff2') format('woff2'),
    url('../fonts/Akrobat/Akrobatextralight.woff') format('woff'),
    url('../fonts/Akrobat/Akrobatextralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat Light'), local('Akrobat-Light'),
    url('../fonts/Akrobat/Akrobatlight.woff2') format('woff2'),
    url('../fonts/Akrobat/Akrobatlight.woff') format('woff'),
    url('../fonts/Akrobat/Akrobatlight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat'), local('Akrobat-Regular'),
    url('../fonts/Akrobat/Akrobat.woff2') format('woff2'),
    url('../fonts/Akrobat/Akrobat.woff') format('woff'),
    url('../fonts/Akrobat/Akrobat.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat SemiBold'), local('Akrobat-SemiBold'),
    url('../fonts/Akrobat/Akrobatsemibold.woff2') format('woff2'),
    url('../fonts/Akrobat/Akrobatsemibold.woff') format('woff'),
    url('../fonts/Akrobat/Akrobatsemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat Bold'), local('Akrobat-Bold'),
    url('../fonts/Akrobat/Akrobatbold.woff2') format('woff2'),
    url('../fonts/Akrobat/Akrobatbold.woff') format('woff'),
    url('../fonts/Akrobat/Akrobatbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'),
    url('../fonts/Akrobat/Akrobatextrabold.woff2') format('woff2'),
    url('../fonts/Akrobat/Akrobatextrabold.woff') format('woff'),
    url('../fonts/Akrobat/Akrobatextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat Black'), local('Akrobat-Black'),
    url('../fonts/Akrobat/Akrobatblack.woff2') format('woff2'),
    url('../fonts/Akrobat/Akrobatblack.woff') format('woff'),
    url('../fonts/Akrobat/Akrobatblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;

  &-button {
    display: none;
  }

  &-track {
    background: #eeeeee;
  }

  &-thumb {
    background: #2196f3;
  }

  &:hover {
    background: rgba(#7e57c2, 0.8);
  }
}

::selection {
  color: #9575cd;
}

a {
  text-decoration: none;
}

.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms, transform 500ms;
}

body {
  background-color: #fff;
}

*:focus {
  outline: none;
}

.lazy-show {
  transform: scale(0);
  animation: 0.2s ease 0.3s forwards product_show;
}

.news_full_show {
  transform: scale(0);
  animation: 0.3s ease forwards news_full_show;
}

@keyframes news_full_show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes product_show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes product_hide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes _animate_banner_1_image_0 {
  0% {
    opacity: 0;
    transform: translate(-100%, -50%);
  }
  80% {
    opacity: 0.8;
    transform: translate(20%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

@keyframes _animate_banner_1_image_1 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    opacity: 0.8;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes _animate_banner_1_text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

._animate_banner_1_image_0 {
  opacity: 0;
  transform: transformY(-50%) scale(0);
  animation: 0.6s ease forwards _animate_banner_1_image_0;
}

._animate_banner_1_image_1 {
  opacity: 0;
  transform: scale(0);
  animation: 0.6s ease forwards _animate_banner_1_image_1;
}

._animate_banner_1_text {
  opacity: 0;
  animation: 1s ease 1s forwards _animate_banner_1_text;
}

._reload {
  transform: scale(1);
  animation: 0.2s ease 0s forwards product_hide;
}

.product-card {
  .product-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}


.error-field {
  color: tomato;
  font-size: 12px;
}